body {
    background-color: #07051D;
}
*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #07051D;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 100px;
    font-size: 24px;
    font-family:'Outfit', sans-serif;
}
.cybertech{
    position:absolute;
    width: 550px;
    height: 142px;
    left: 175px;
    top: 168px;
  
    font-style: normal;
    font-weight: 700;
    font-size: 110px;
    line-height: 139px;
    color: white;
   font-family:'Outfit', sans-serif;
    
}
.texto2{
    position: absolute;
width: 378px;
height: 142px;
left: 175px;
top: 310px;

font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 45px;

color: #FFFFFF;

}

.circulo1{
    position: absolute;
width: 410px;
height: 410px;
left: 263px;
top: -300px;

background: #241D7A;
filter: blur(153px);
}
.circulo2{
    position: absolute;
width: 410px;
height: 410px;
left: 1900px;
top: 216px;
background: #2BFFF2;
filter: blur(153px);
}

   .circulo3{
    position: absolute;
width: 1456px;
height: 459.7px;
left: -30px;
top: 539.13px;

background: #241D7A;
filter: blur(153px);
   }
   .retangulo2{
    position: absolute;
    width: 255px;
    height: 371.22px;
    left: 50px;
    top: 554
    background: linear-gradient(180deg, #350680 12.74%, rgba(50, 39, 204, 0.583) 64.45%, rgba(160, 152, 255, 0) 116.16%);
    background-blend-mode: soft-light;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 31px;
   }
    .retangulo3{
        position: absolute;
width: 255px;
height: 371.22px;
left: 406px;
top: 554.39px;

background: linear-gradient(180deg, #350680 12.74%, rgba(50, 39, 204, 0.583) 64.45%, rgba(160, 152, 255, 0) 116.16%);
background-blend-mode: soft-light;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 31px;
    }
    .retangulo4{
        position: absolute;
        width: 255px;
        height: 371.22px;
        left: 762px;
        top: 554.39px;
        
        background: linear-gradient(180deg, #350680 12.74%, rgba(50, 39, 204, 0.583) 64.45%, rgba(160, 152, 255, 0) 116.16%);
        background-blend-mode: soft-light;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 31px;
    }
    .retangulo5{
        position: absolute;
width: 255px;
height: 371.22px;
left: 1159px;
top: 554.39px;

background: linear-gradient(180deg, #350680 12.74%, rgba(50, 39, 204, 0.583) 64.45%, rgba(160, 152, 255, 0) 116.16%);
background-blend-mode: soft-light;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 31px;

    }

   
   .rodape {
    background-color: #241D7A; 
    text-align: center;}

   .rodape-imagem{ height: 60px; 
    ´padding: 12px 0; 
    
   