body {
    background-color: #000000;
}
*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 35px 0;
}

.cabecalho-imagem{
    width: 53px;
    position: absolute;

height: 51  px;
left: 268px;
top: 20px;
}

.cabecalho-lista-item
    nav {
        position: absolute;
        top: 43px;
        right: 150px;
        font-style: normal;
        font-family:'Outfit', sans-serif;
        
    }

    nav li {
        display: inline;
        margin: 0 0 0 60px;
    }

    nav a {
        text-transform: uppercase;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 13px;
        text-decoration: none;
        font-style: normal;
        font-family:'Outfit', sans-serif;
    }

    nav a:hover {
        text-decoration: underline;
    }
    
.cybertech{
    position: absolute;
    width: 550px;
    height: 142px;
    left: 263px;
    top: 172px;
  
    font-style: normal;
    font-family:'Outfit', sans-serif;
    font-weight: 700;
    font-size: 110px;
    line-height: 139px;
    color: white;
   
    
}
.texto2{
position: absolute;
width: 378px;
height: 142px;
left: 263px;
top: 314px;
font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 45px;

color: #FFFFFF;

}

.texto3 {
position: absolute;
width: 545px;
height: 120px;
left: 260px;
top: 432px;

font-family: 'Outfit';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 30px;

color: #FFFFFF;
   }

   .projetos {
    position: absolute;
width: 332px;
height: 142px;
left: 175px;
top: 797px;

font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 81px;

color: #FFFFFF;

   }
   .projetotexto{
    position: absolute;
width: 558px;
height: 142px;
left: 175px;
top: 890px;

font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;

color: #FFFFFF;

   }
   
 .robo-img{
    position: absolute;
    width: 340px;
    height: 340px;
    left: 828px;
    top: 200px;
 }

 
 .caixarobotica{
    position: absolute;
width: 917px;
height: 376px;
left: 260px;
top: 758px;

 }

 .aspas{
    position: absolute;
    width: 102px;
    height: 102px;
    left: 412px;
    top: 758px;
    
 }

    
 .aspas2{
    position: absolute;
width: 102px;
height: 102px;
left: 928px;
top: 758px;

 }
 button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #320894, #8269BB);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: 'Outfit';
    font-size: 17px;
    font-style: bold;
    padding: 0.6em 1.5em;
    position: absolute;
    left: 260px;
    top: 540px;
  
   }
   
   button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
    
   }
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
 
   }

   .oqé {
        position: absolute;
        width: 197px;
        height: 30px;
        left: 362px;
        top: 882px;
        
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        
        background: linear-gradient(90deg, #320894 38.14%, #8269BB 74.55%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-emphasis-color: transparent;
       }

       .texto-oqé {
        position: absolute;
width: 324px;
height: 108px;
left: 308px;
top: 940px;

font-family: 'Outfit';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;

color: #FFFFFF;

}

.robo-lampada{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 585px;
    top: 1056px;

}

.pq {
    position: absolute;
    width: 290px;
    height: 30px;
    left: 860px;
    top: 881px;
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    
    background: linear-gradient(90deg, #320894 3.01%, #8269BB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;

}

.texto-pq{
    position: absolute;
    width: 324px;
    height: 108px;
    left: 823px;
    top: 940px;
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    
    color: #FFFFFF;
    
}

.robo-canto {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 1096px;
    top: 1056px;
}

.linhas {
    position: absolute;
    width: 520.5px;
    height: 294px;
    left: 437.5px;
    top: 1170px;
}








.card {
    --font-color: #323232;
    --bg-color: #e0e0e0;
    width: 250px;
    height: 350px;
    border-radius: 20px;
    background: var(--bg-color);
    box-shadow: -9px 9px 18px #1f1d1d,
                9px -9px 18px #201e1e;
    display: flex;
    flex-direction: column;
    transition: .4s;
    position: relative;
    top: 1450px;
    left: 250px;
  }
  
  .card:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 2px #141414;
  }
  
  .card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    background-color: #250e5a;
  }
  
  .card__descr-wrapper {
    padding: 15px;
    display: grid;
  }
  
  .card__title {
    color: var(--font-color);
    text-align: center;
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 16px;
    font-family: 'Outfit';
    font-style: normal;
  }
  
  .card__descr {
    color: var(--font-color);
    font-family: 'Outfit';
    font-style: normal;
  }
  
  .svg {
    width: 25px;
    height: 25px;
    transform: translateY(25%);
    fill: var(--font-color);
  }
  
  .card__links {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    font-family: 'Outfit';
    font-style: normal;
  }
  
  .card__links .link {
    color: var(--font-color);
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
  }
  
  .card__links .link:hover {
    text-decoration: underline;
  }

  .img-projeto{
    position: absolute;
    width: 128px;
    height: 128px;
    left: 60px;
    top: 40px;
}
.cardiniciot {
  display: grid;
  grid-template-columns: 23% 23% 23%;
  align-items: center;
  text-align: center;
}


:root{
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

}
* {
    font-family: 'Outfit' ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    
}

-